main {
  max-width: 100%;
  max-height: 100%;
  margin: 0 8rem;
  border-radius: 14px;
}

label {
  font-weight: bold;
  margin-left: 0.5rem;
}

select {
  padding: 0.3rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: #f7f7f7;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  transition: border 0.2s;
}

select:focus {
  border-color: #888;
  outline: none;
}

.text-gallery {
  /* position: relative; */
  /* height: 100%; */
  padding: 2rem 0;
  overflow: auto;
  filter: blur(var(--gallery-blur, 0px));
  transition: filter 0.3s;
}

main>.text-gallery,
.text-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  gap: 1rem;
  /* max-height: 55vh; */
  /* gap: 1.5rem; */
  /* padding-bottom: 1rem; */
  /* margin: 1rem 8rem; */

  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem; */
}

.text-card {
  flex: 0 0 calc(33.333% - 16px);
  box-sizing: border-box;
  min-width: 250px;
  max-width: 1fr;
}
.gallery-header {
  position: sticky;
  top: 6.5rem;
  z-index: 10;
  background: #FFFBF2;
  padding-bottom: 8px;
  padding-top: 2rem;
}
.gallery-filters {
  display: flex;
  align-items: stretch;
  gap: 0;
  position: relative;
}

div.count-filter>label {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: auto 2rem;
  margin: 2rem;
  line-height: 100%;
  width: 5rem;
  font-size: 2rem;
  font-weight: 500;
}

.single-filter {
  flex: 1 0 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.5rem;
  border: 0.6px solid #222;
  border-radius: 0.2rem;
  padding: 1rem 1.5rem;
  margin: 0;
}
.single-filter.right{
margin-left: -0.6px;}

.filter-options {
  display: flex;
  /* gap: 0.5rem; */
  border-bottom: 0.5px solid #222;
  padding: 0 1rem;
}

.filter-options button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0 0.6rem;
  margin: 0;
  font-weight: 550;
  cursor: pointer;
  transition: color 0.18s;
  background: no-repeat center/cover;
  background-origin: padding-box
}

.filter-options button.active {
  content: "";
  position: absolute;
  height: 90%;
  width: 90%;
  /* SVG size */

}

.filter-options button.active {
  position: relative;
  z-index: 1;
  overflow: visible;
}


/* For emotions */
.filter-options .active[data-svg-type="emotion"] {
  background-image: var(--svg-url-emotion);
}

/* For categories */
.filter-options .active[data-svg-type="category"] {
  background-image: var(--svg-url-category);
}

.filter-options .active[data-svg-type="view"] {
  background-image: var(--svg-url-view);
}

.single-filter:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  background: #3f2424;
  z-index: 1;
}

.single-filter>label {
  font-size: 1.2rem;
  font-family: 'NarkissBlock-Thin', sans-serif;
  font-weight: 800;
  color: #222;
}