main {
  max-width: 100%;
  max-height: 100%;
  margin: 2rem 8rem;
  /* padding: 2rem; */
  border-radius: 14px;
}

label {
  font-weight: bold;
  margin-left: 0.5rem;
}

select {
  padding: 0.3rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: #f7f7f7;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
  transition: border 0.2s;
}

select:focus {
  border-color: #888;
  outline: none;
}

.gallery-progress {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
  font-size: 1.5rem;
  letter-spacing: 0.5em;
  color: #bbb;
}

.gallery-progress .active {
  color: #795548;
  font-weight: bold;
}

.text-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  padding:1rem;
}

main>.text-gallery {
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
  display: flex;
  flex-direction: column;
  max-height: 55vh;
  gap: 1.5rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  margin: 1rem 8rem;
}


.gallery-filters {
  display: flex;
  align-items: stretch;
  gap: 0;
  position: relative;
}

div.count-filter>label  {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: auto 2rem;
  margin: 2rem;
  line-height: 100%;
  width: 5rem;
  font-size: 2rem;
  font-weight: 500;
}

.single-filter {
  flex: 1 0 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.5rem;
  border: 0.6px solid #222;
  border-radius: 0.2rem;
  padding: 1rem 1.5rem;
  margin: 0;
}

.filter-options {
  display: flex;
  gap: 0.5rem;
  border-bottom: 0.5px solid #222;
  padding: 0 1rem;
}

.filter-options button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  font-weight: 550;
  cursor: pointer;
  transition: color 0.18s;
}

.filter-options button:not(:last-child)::after {
  content: " /";
  color: #888;
  margin: 0 0.3em;
  pointer-events: none;
}

.filter-options button.active {
  position: relative;
  z-index: 1;
  overflow: visible;
}

.filter-options button.active::before {
  content: "";
  position: absolute;
  right: -0.6em; /* adjust as needed */
  /* top: 20%; */
  transform: translateY(10%);
  width:100%;   /* SVG size */
  height: 100%;
  background: no-repeat center/cover;

}

/* For emotions */
.filter-options .active[data-svg-type="emotion"]::before {
  background-image: var(--svg-url-emotion);
}

/* For categories */
.filter-options .active[data-svg-type="category"]::before {
  background-image: var(--svg-url-category);
}

.filter-options .active[data-svg-type="view"]::before {
  background-image: var(--svg-url-view);
}

.single-filter:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  background: #3f2424;
  z-index: 1;
}

.single-filter>label {
  font-size: 1.2rem;
  font-family: 'NarkissBlock-Thin', sans-serif;
  font-weight: 800;
  color: #222;
}