body,
.home-page {
    background: inherit;
    /* or another light color */
}

main.home-page {
    border-color: transparent;
}


.home-mid-box {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: inherit;
}

.home-mid-box>* {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: #222 solid 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-mid-box .home-logo {
    justify-content: center;
    align-items: center;
    border-bottom: #222 solid 0.5px;
    /* padding: 1.5rem 0 1rem 0; */
}

.home-mid-box p {
    font-size: 1.6rem;
    max-width: max(40vw, 600px);
    padding: 2.5rem 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: -1px;
    border-bottom: #222 solid 0.5px;
    width: 100%;
    font-family: 'masada';
    line-height: 2rem;
    background: inherit;
}


main.home-page img.logo {
    height: 150px;

}

main.home-page {
    display: flex;
    padding: 2rem;
    height: calc(100vh - 12.5rem - 1px);
}

main.home-page .home-nav-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    margin-top: 2rem;
    margin-top: 3rem;

    button {
        margin: 0;
        padding: 1rem;
        width: 100%;
        border: 1px solid #222;
        margin-right: -1px;
        background: none;
        cursor: pointer;
        font: inherit;
        font-size: 1.5rem;
        font-weight: 200;
        color: inherit;
    }

    button:hover {
        font-weight: 400;
    }
}

.idle-toggle-box {
    margin-top: 2em;
    font-size: 1em;
    font-weight: 200;
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.idle-toggle-box input[type="number"] {
    font-size: 1em;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
}

.idle-burger-container {
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    z-index: 1001;
}

.idle-burger-btn {
    background-color: transparent;
    border-color: transparent;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 0;
}

.idle-burger-btn span {
    display: block;
    width: 20px;
    height: 3px;
    transition: background 0.2s;
}

.idle-burger-btn:hover {
    background: #F0F8FF;
}

.idle-toggle-popup {
    position: absolute;
    left: 0;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 1002;
}

.home-bg-video {
    /* CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX; */
    position: fixed;
    /* border: 1px solid #222; */
    top: -7vh;
    left: -1vw;
    /* min-width: 100vw; */
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    /* object-fit: contain; */
    z-index: 0;
    /* margin: 0 auto; */
    pointer-events: none;
    /* mix-blend-mode: lighten; */
}

.home-page {
    position: relative;
    z-index: 1;
}

.home-mid-box {
    position: relative;
    z-index: 2;
}