main.home-page p {
    font-family: 'masada';
    font-size: min(1.5vw, 1.5rem);
    font-weight: 200;
    padding: 1.5rem 0;
    width: 100%;
    line-height: min(2vw, 2rem);
    text-align: center;
}

main.home-page {
    border-color: transparent;
}

main.home-page .home-mid-box {
    min-width: 600px;
    max-width: 400px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.home-page img.logo {
    height: 150px;
}

main.home-page {
    display: flex;
    padding: 2rem;
    height: calc(100vh - 12.5rem - 1px);
}

main.home-page .home-nav-btns {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    width: 100%;

    button {
        margin: 0;
        padding: 20px;
        width: 33.33%;
        border: 1px solid #222;
        margin-right: -1px;
        background: none;
        cursor: pointer;
        font: inherit;
        font-size: 20px;
        color: inherit;
    }
    button:hover {
        font-weight: 400;
    }
}