.statistics-source {
  min-width: 180px;
  max-width: 300px;
  font-size: 1rem;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 2rem;
  line-height: 1.3rem;
  align-self: flex-start;
  font-family: 'masada', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.statistics-source::before {
  content: '';
  display: inline-block;
  width: var(--grid-size);
  height: 100%;
  background-image: url('../../public/assets/images/star.png');
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  color: var(--border-color);
}

.statistics-page-title {
  padding: 0 calc(var(--grid-size) *0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

a.statistics-page {
  margin-left: -1px;
}

main.statistics-page {
  /* background: var(--main-bg); */
  min-height: calc(var(--grid-size) * 36);
  padding: var(--grid-size);
  font-family: 'NarkissBlock', 'Masada', Arial, sans-serif;
  direction: rtl;
  font-weight: 300;

}

.statistics-main-content {
  background-image: repeating-linear-gradient(0deg, #e0e0e0 0, #e0e0e050 1px, transparent 1px, transparent var(--grid-size)),
    repeating-linear-gradient(90deg, #e0e0e0 0, #e0e0e050 1px, transparent 1px, transparent var(--grid-size));
  background-repeat: repeat;
  background-position: top left;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistics-sidebar {
  position: relative;
  /* background-color: #FFFBF2; */
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-left: 1.5px solid #22222250;
  /* background-color: #FFFBF2; */
  width: 25%;

}

.statistics-page-inner-div {
  border: 1.5px solid #22222250;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: calc(var(--grid-size) * 36);
  z-index: 0;
}





@media (max-width: 900px) {
  .stat-category-section {
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem 0.7rem;
  }

  .stat-category-visual {
    min-width: 100px;
    padding-top: 1rem;
  }
}