/* Styles for the statistics source box */
.statistics-source {
  min-width: 180px;
  max-width: 300px;
  font-size: 1em;
  border-radius: 8px;
  padding: 0.7em;
  margin-right: 1em;
  align-self: flex-start;
}
.statistics-page-title{
  padding: 0 var(--grid-size);
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  /* margin-bottom: 1rem; */
  /* align-items: baseline; */
  font-size: 1rem;
}

main.statistics-page {
  background: #FFFBF2;
  /* min-height: 100%; */
  height: fit-content;
  /* overflow-y: auto; */
  padding: var(--grid-size);
  font-family: 'NarkissBlock', 'Masada', Arial, sans-serif;
  direction: rtl;
  font-weight: 300;

}

.statistics-sidebar {
  position: relative;
  background-color: #FFFBF2;
  ;
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-left: 1.5px solid #22222250;
  background-color: #FFFBF2;
  width: 25%;
}

.statistics-page-inner-div {
  /* margin: var(--grid-size); */
  border: 1.5px solid #22222250;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: calc(var(--grid-size) * 36);
  background-image:
    repeating-linear-gradient(0deg, #e0e0e0 0, #e0e0e050 1px, transparent 1px, transparent var(--grid-size)),
    repeating-linear-gradient(90deg, #e0e0e0 0, #e0e0e050 1px, transparent 1px, transparent var(--grid-size));
  background-repeat: repeat;
  background-position: top left;
  z-index: 0;
}





@media (max-width: 900px) {
  .stat-category-section {
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.2rem 0.7rem;
  }

  .stat-category-visual {
    min-width: 100px;
    padding-top: 1rem;
  }
}