:root {
  --border-color: #0022AB;
  --text-color: #0022AB;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floating-info-box {
  color: var(--text-color);
  position: fixed;
  z-index: 1000;
  background: #F0F8FF;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  width: 550px;
  min-height: 300px;
  max-height: 100vh;
  padding: 4px 0;
  cursor: grab;
  direction: rtl;
  display: flex;
  flex-direction: column;
  transition: filter 0.3s;
}

.floating-info-box-header {
  font-weight: bold;
  padding: 0 16px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 2;
  background: inherit;
}

.floating-info-box-close {
  border: none;
  background: transparent;
  font-size: 1.125rem;
  cursor: pointer;
  margin-right: -5px;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 10;
  cursor: pointer;

}

.floating-info-box-author,
.floating-info-box-title {
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  font-family: 'Masada';
  font-weight: 3400;
}

.make-scrollbar-right {
  overflow-y: auto;
  flex-grow: 1;
  margin: 0 16px;
  padding: 0 0.8rem;
  direction: ltr;
  max-height: 80vh;
}

.make-scrollbar-right::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.make-scrollbar-right::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 8px;
}

.make-scrollbar-right::-webkit-scrollbar-track {
  background: #506474;
  border-radius: 8px;
}

/* For Firefox */
.make-scrollbar-right {
  scrollbar-color: #506474 transparent;
  scrollbar-width: thin;
}

.floating-info-box-content {
  padding: 5px;
  margin-bottom: 8px;
  letter-spacing: 0.001rem;
  margin-top: 8px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  direction: rtl;
  height: fit-content;
  color: var(--text-color);
  text-align: right;
}


.floating-info-box-filters {
  min-height: 2rem;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  letter-spacing: 0.02rem;
  align-content: flex-start;
  align-items: center;
  .tags {
    margin: 1rem;
    label {
      border-left: var(--border-color) solid 0.6px;
      padding-left: 6px;
      font-size: 0.875rem;
      font-weight: 200;
    }
  }


}

.floating-info-box-filters label {
  width: fit-content;
  border-left: var(--border-color) solid 0.6;

  font-weight: 300;
}

.floating-info-box-filters .tags {
  /* width: 50%; */
  min-height: 3rem;
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  min-width: 40%;
  max-width: 60%;
  padding: 0;
  margin: 0;
  font-size: 0.8125rem;
}

.floating-info-box-filters ul {
  font-size: 0.8125rem;
  padding: 0;
  margin: 0;
}

.floating-info-box-filters .tags ul {

  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5rem;
  padding: 0;
  margin: 0 0.5rem;
  align-items: flex-start;
  font-weight: 200;
}

.floating-info-box-filters .tags li {
  list-style: none;
  padding: 0;
  margin: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  font-size: 0.8125rem;
  font-family: 'NarkissBlock', sans-serif;
  font-weight: 200;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.floating-info-box-filters .tags li:hover,
li.highlight-category.active {
  font-weight: 300;
  font-size: calc(0.78rem);
  /* Slightly smaller to compensate for boldness */

}

.floating-info-box-main {
  transition: max-height 0.5s, opacity 0.4s;
  /* max-height: 1000px; */
  opacity: 1;
  overflow: hidden;
}

.floating-info-box-main.collapsed {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.floating-info-box-filters,
.floating-info-box-extra {

  transition: transform 0.5s;

  span.toggle-extra {
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    justify-content: center;
    flex-wrap: nowrap;
    font-size: 20px;
    line-height: 28px;
    align-content: baseline;
    img {
      margin: auto 0;
    }
  }

  span.toggle-extra:hover {
    font-weight: 500;
    font-size: 19.5px;

  }

}

.floating-info-box-filters.collapsed,
.floating-info-box-extra.expanded {
  transform: translateY(-5px);
  z-index: 2;
  position: relative;
}

.floating-info-box-extra {
  cursor: pointer;
  background: inherit;
  padding: 0.4rem 12px;
  text-align: center;
  font-size: 1.3rem;
  transition: background 0.2s;
  position: relative;
  overflow: hidden;
}

.extra-content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s;
}

.floating-info-box-extra.expanded .extra-content {
  max-height: 400px;
  /* Adjust as needed */
  opacity: 1;
}

.extra-content-inner {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.3s, transform 0.5s;
  pointer-events: none;
}

.floating-info-box-extra.expanded .extra-content-inner {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.extra-quotes-list {
  /* padding: 1rem; */
  border-top: 1px solid var(--border-color);
  max-height: 100%;
  overflow-y: hidden;

  p.content {
    color: var(--text-color);

  }
}

.extra-quote-item {
  cursor: pointer;
  padding: 1rem 0.5rem;
  font-family: 'masada', sans-serif;
  .quote-content {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: 0.9rem;
    line-height: 2;
    direction: rtl;
    text-align: right;
    margin: 0.5rem 0;
    height: 4;
    color: var(--text-color);
  }
  .author {
    font-weight: 200;
    font-size: 0.8rem;
    margin-top: 0.2em;
    direction: rtl;
    text-align: left;
  }
}
li.extra-quote-item:hover .author,
li.extra-quote-item:hover p.content {
  font-weight: 400;
  ;
}

.extra-quote-item:last-child {
  border-bottom: none;
}

.highlight-category {
  direction: rtl;
  margin: -0.3em;
  /* Negative margin to let bg overflow */
  border: 0.3em solid transparent;
}

.highlight-emotion {
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: auto 6px;
  border-bottom: 4px solid transparent;
  padding-bottom: 4px;
  margin: -0.3em;
  margin-bottom: -9px;
  border: 0.3em solid transparent;
}


.highlight-emotion.active {
  background-blend-mode: multiply;
  background-image: url('../../public/assets/underline/underline.svg');

}

.highlight-category.active {
  background-color: transparent;
  background-image: url('../../public/assets/images/highlight/image.png');
  background-repeat: repeat-x;
  background-position: center top;
  background-position-y: -3px;
  background-size: auto 20px;
  color: #F0F8FF;
  font-weight: 400;
  opacity: 1;
}

li.highlight-category, li.highlight-emotion {
  padding: 0;
  margin: 0;
  border-width: 0;
}
li.highlight-emotion, li.highlight-emotion.active {
  padding-bottom: 2px;
  margin-bottom: -5px;
}

.line-img-start,
.line-img-end {
  display: inline;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  pointer-events: none;
  user-select: none;
}

@keyframes popin {
  0%   { opacity: 0; transform: scale(0.85);}
  80%  { opacity: 1; transform: scale(1.001);}
  100% { opacity: 1; transform: scale(1);}
}
@keyframes popout {
  0%   { opacity: 1; transform: scale(1);}
  100% { opacity: 0; transform: scale(0.85);}
}

.popup-animate-in {
  animation: popin 0.22s cubic-bezier(.4,0,.2,1);
}
.popup-animate-out {
  animation: popout 0.2s cubic-bezier(.4,0,.2,1) forwards;
}