:root {
    --grid-size: 20px
}

aside {
    width: fit-content;
    height: fit-content;
    border-bottom: 1.5px solid #22222250;;
    border-left:  1.5px solid #22222250;;
}

.statistics-sidebar ul {
    /* display: flex; */
    width: max-content;
    padding: calc(var(--grid-size) * 2);
}

li.statistics-sidebar-category {
    list-style: none;
    margin-bottom: var(--grid-size);
    line-height: var(--grid-size);
    position: relative;
    padding-inline-start: 2em;
}

li.statistics-sidebar-category:hover {
    cursor: pointer;
}

li.statistics-sidebar-category::before {
    content: "[\00A0\00A0\00A0\00A0]";
    position: absolute;
    right: 0;
    color: var(--cat-color, #222);
}

li.statistics-sidebar-category.active::before, 
li.statistics-sidebar-category.active:hover::before {
    content: "[ ● ]";
    /*"[●]";*/
    position: absolute;
    right: 0;
    color: var(--cat-color, #222);
}

li.statistics-sidebar-category:hover::before {
    content: "[ * ]";
    /*"[●]";*/
    position: absolute;
    right: 0;
    color: var(--cat-color, #222);
}