.text-card {
  /* border-top: #222 0.5px solid;
  border-bottom: #222 0.5px solid; */
  padding: 1.2rem 1.5rem;
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s, background 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: wrap;
}

main .text-card p {
  filter: blur(2px);
  font-family: 'Masada';
  max-width: 50vw;
  font-size: 3rem;
}

.text-card:hover {
  transform: translateY(-2px) scale(1.02);
}

.text-card p {
  margin: 0;
  color: #222;
}


.text-card-category {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  list-style: none;
  padding: 0;
  margin: 0.5em 0 0 0;
}

.text-card-category li {
  display: inline;
  position: relative;
  padding: 0 0.3em;
}

.text-card-category li:not(:last-child)::after {
  content: " /";
  color: #888;
  margin: 0 0.3em;
  pointer-events: none;
}