.text-card {
  /* /* border-top: #222 0.5px solid; */
  border: #222 0.5px solid; 
  padding: 1.2rem 1.5rem;
  cursor: pointer;
  transition: background 0.2s, background-color 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: wrap;
  background:transparent; /* initial background */
}

.text-card:hover {
  background: #fcf6d7; /* slightly darker, adjust as needed */
  /* Optional: add a subtle shadow or scale */
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.text-card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #222;
}


.text-card-category {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  list-style: none;
  padding: 0;
  margin: 0.5em 0 0 0;
}

.text-card-category li {
  display: inline;
  position: relative;
  padding: 0 0.3em;
}

.text-card-category li:not(:last-child)::after {
  content: " /";
  color: #888;
  margin: 0 0.3em;
  pointer-events: none;
}