
:root {
  --main-bg: #Fff5e9;
  --main-blue: #0022AB;
}

body {
  scroll-behavior: smooth;
  height: 100%;
}

@font-face {
  font-family: 'Masada';
  src: url('../public/assets/fonts/Masada-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Masada';
  src: url('../public/assets/fonts/Masada-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Masada';
  src: url('../public/assets/fonts/Masada-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Masada';
  src: url('../public/assets/fonts/Masada-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Masada';
  src: url('../public/assets/fonts/Masada-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Masada';
  src: url('../public/assets/fonts/Masada-MediumItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'NarkissBlock';
  src: url('../public/assets/fonts/NarkissBlock-Hairline.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'NarkissBlock';
  src: url('../public/assets/fonts/NarkissBlock-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'NarkissBlock';
  src: url('../public/assets/fonts/NarkissBlock-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NarkissBlock';
  src: url('../public/assets/fonts/NarkissBlock-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NarkissBlock';
  src: url('../public/assets/fonts/NarkissBlock-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NarkissBlock';
  src: url('../public/assets/fonts/NarkissBlock-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Set as default font stack */
body {
  margin: 0;
  direction: rtl;
  font-family: 'NarkissBlock', 'Masada', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg); /* Set default background color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.statistics {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.stat-block {
  background: #f0f0f0;
  padding: 12px;
  border-radius: 6px;
  max-width: 300px;
  transition: transform 0.3s;
}

nav a {
  padding: 0 1vw;
  line-height: 3.4rem;
}

main {
  max-width: 100%;
  margin: 0 8rem;
  min-height: calc(var(--grid-size) * 36);
  border: 0.5px solid #222;
  border-top: none;
  background-color: inherit; /* Set default background color */
  margin-top: 6rem;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Masada', sans-serif;
  font-weight: 200;
  line-height: 1.5;
  color: #222;
  text-align: right;
}

.fade-overlay {
  position: fixed;
  inset: 0;
  background: var(--main-bg);
  opacity: 0;
  pointer-events: none;
  animation: fadeOutToHome 0.8s forwards;
  z-index: 9999;
}

@keyframes fadeOutToHome {
  to {
    opacity: 1;
  }
}
